<?xml version='1.0' encoding='GBK' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="cux.oracle.apps.per.bonus.poplist.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.39.81" />
   </DesignTime>
   <Containee
      Name="BonusTypeVO"
      FullName="cux.oracle.apps.per.bonus.poplist.server.BonusTypeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DisOrgVO"
      FullName="cux.oracle.apps.per.bonus.poplist.server.DisOrgVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EmpVO"
      FullName="cux.oracle.apps.per.bonus.poplist.server.EmpVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PeriodVO"
      FullName="cux.oracle.apps.per.bonus.poplist.server.PeriodVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="StatusVO"
      FullName="cux.oracle.apps.per.bonus.poplist.server.StatusVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
