<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="cux.oracle.apps.per.bonus.advanceawards.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="AdvanceAwardsAM"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvanceAwardsAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="AdvanceAwardsDateVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvanceAwardsDateVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvanceAwardsTypeVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvanceAwardsTypeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsAttachmentVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsAttachmentVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsDeptLovVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsDeptLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsDeptPersonVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsDeptPersonVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsDeptPerVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsDeptPerVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsExamVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsExamVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsOfficeLovVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsOfficeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsOperatorVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsOperatorVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsOtherLovVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsOtherLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsOtherPerVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsOtherPerVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsOtherTypeVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsOtherTypeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsPerLovVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsPerLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsSummaryOfficeVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsSummaryOfficeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsSummaryOtherVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsSummaryOtherVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsSummaryVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsSummaryVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsYearStatEptVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsYearStatEptVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AdvAwardsYearStatVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.AdvAwardsYearStatVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CuxBonusOfficeDistributionEO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.CuxBonusOfficeDistributionEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="CuxBonusOfficeDistributionVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.CuxBonusOfficeDistributionVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CuxBonusOfficePersonDistEO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.CuxBonusOfficePersonDistEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="CuxBonusOfficePersonDistVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.CuxBonusOfficePersonDistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="NtfSuspendWarnVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.NtfSuspendWarnVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RejDistVO"
      FullName="cux.oracle.apps.per.bonus.advanceawards.server.RejDistVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
