<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="cux.oracle.apps.per.bonus.offlinelist.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="OfflineListAM"
      FullName="cux.oracle.apps.per.bonus.offlinelist.server.OfflineListAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="OfflineListVO"
      FullName="cux.oracle.apps.per.bonus.offlinelist.server.OfflineListVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
