<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="cux.oracle.apps.pa.ds.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="DlvScheduleAM"
      FullName="cux.oracle.apps.pa.ds.server.DlvScheduleAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="DlvScheduleEO"
      FullName="cux.oracle.apps.pa.ds.server.DlvScheduleEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="DlvScheduleSpecEO"
      FullName="cux.oracle.apps.pa.ds.server.DlvScheduleSpecEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="DlvScheduleSpecVO"
      FullName="cux.oracle.apps.pa.ds.server.DlvScheduleSpecVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DlvScheduleVO"
      FullName="cux.oracle.apps.pa.ds.server.DlvScheduleVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DsNodeTypeVO"
      FullName="cux.oracle.apps.pa.ds.server.DsNodeTypeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DsPVO"
      FullName="cux.oracle.apps.pa.ds.server.DsPVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DsStatus"
      FullName="cux.oracle.apps.pa.ds.server.DsStatus"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DsSummaryEO"
      FullName="cux.oracle.apps.pa.ds.server.DsSummaryEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="DsSummaryVO"
      FullName="cux.oracle.apps.pa.ds.server.DsSummaryVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DsTemplateVO"
      FullName="cux.oracle.apps.pa.ds.server.DsTemplateVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ProjectLovVO"
      FullName="cux.oracle.apps.pa.ds.server.ProjectLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="QueryModeVO"
      FullName="cux.oracle.apps.pa.ds.server.QueryModeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SpecialityVO"
      FullName="cux.oracle.apps.pa.ds.server.SpecialityVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
